<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/basic.ejs %>    
 
    <script>            
      
      function restart() {
        document.location.reload()
      }
      
      function output(msg, noWrap) {
        document.body.innerHTML += msg
        if(typeof noWrap != undefined && noWrap) document.body.innerHTML += '<br>'
      }

      // Load the user blockly script
      loadUserScript('/js/ch-2.js')
      
    </script>
    
  </head>
  <body style="font-family:courier; font-color:#444444">
    <div>
      <button id="reload" style="margin-bottom:5px" onclick="restart()">Reload</button>        
    </div>
  </body>
</html>
